
<!DOCTYPE html>
<html>
  <head>
    <title>Xiang Nan's Blog</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/highlight.js/7.3/styles/default.css" rel="stylesheet"> -->
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
    <style type="text/css">
      .title {
        font-size: 300%;
        background-color: #eee;
        padding: .5em .2em;
      }
      .container {
        width: 980px;
        margin: 10px auto;
      }
    </style>
  </head>
  <body>
  <div id="app" class="container">
    <ol class="breadcrumb">
      <li v-for="e in navList" :class="{active:e.active}">
        <router-link v-if="e.active" :to="e.path">{{e.name}}</router-link>
        <template v-else>{{e.name}}</template>
      </li>
    </ol> 
    <router-view></router-view>
  </div>
<script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/2.6.0/vue-router.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<!-- <script src="https://cdn.lzwlkj.cn/highlight.pack.js"></script> -->

<script type="text/javascript">
marked.setOptions({
  highlight: function (code) {
    return hljs.highlightAuto(code).value;
  }
});
var [username, github, com] = window.location.host.split('.')
username = username || 'xiangnanscu'
var PREFIX = `https://api.github.com/repos/${username}/${username}.github.com/contents`

var CACHE = {}

var d = `
<div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      文章 ({{files.length}})
    </h3>
  </div>
  <div class="panel-body">
    <ul v-for="file in files" class="nav nav-pills nav-stacked">
      <li role="presentation">
        <router-link :to="'/file/'+file.path" role="button">{{file.name.slice(0,-3)}}</router-link>
      </li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      类别 ({{folders.length}})
    </h3>
  </div>
  <div class="panel-body">
    <ul v-for="folder in folders" class="nav nav-pills nav-stacked">
      <li role="presentation">
        <router-link :to="'/folder/'+folder.path">{{folder.name}}</router-link>
      </li>
    </ul>
  </div>
</div>
</div>
`
var f = `
<div>
  <h1 class="title">{{title}}</h1>
  <p> <a class="btn btn-default" :href="html_url">github</a>  <a class="btn btn-default" :href="download_url">raw</a> </p>
  <div class="markdown-body" v-html="content"></div>
</div>
`
var folderView = {
    template: d,
    props: {
        path: {type: String, default: ''},
    },
    data () {
      return {
        tree: [],
      }
    },
    methods: {
      fetchData () {
        var url = PREFIX + this.path
        console.log('folder:',url)
        if (CACHE[url]) {
          console.log('read from cache')
          this.tree = CACHE[url]   
        } else {
          Vue.http.get(url).then(
            response => {
              CACHE[url] = response.body
              this.tree = response.body
            },
            response => {
              alert('Fail to get tree')
            }
          )
        }        
      },
    },
    watch: {
      '$route': 'fetchData',
    },
    updated () {
      console.log('folder updated')
    },
    mounted: function () {
      this.fetchData()
    },
    computed: {
      files () {
        return this.tree.filter(e => e.type == 'file' && e.name.slice(-3) == '.md')
      },
      folders () {
        return this.tree.filter(e => e.type == 'dir')
      },   
    },
}

var fileView = {
    template: f,
    props: {
      path: {type: String, default: ''}
    },
    data: function () {
      return {
        content: '',
        title: '',
        download_url: '',
        html_url: '',
      }
    },
    methods: {
      fetchData () {
        var url = PREFIX + this.path
        if (CACHE[url]) {
          console.log('read from cache')
          this.content = CACHE[url].content
          this.title = CACHE[url].title    
          this.download_url = CACHE[url].download_url   
          this.html_url = CACHE[url].html_url       
        } else {
          Vue.http.get(url).then(
            response => {
              var b = response.body
              this.content = marked(decodeURIComponent(escape(atob(b.content))))
              this.title = b.name.slice(0, -3)
              this.download_url = b.download_url
              this.html_url = b.html_url
              CACHE[url] = {content: this.content, title: this.title, 
                download_url: this.download_url, html_url: this.html_url}
            },
            response => {
              alert('Fail to get tree')
            }
          )
        }        
      },
    },
    watch: {
      '$route': 'fetchData',
    },
    updated () {
      console.log('file updated')
    },
    mounted: function () {
      this.fetchData()
    },
    computed: {

    },
}

var router = new VueRouter({
  linkActiveClass: "router-link-active",
  linkExactActiveClass: "router-link-exact-active",
  routes: [
    {
      path: '/', 
      redirect: '/folder',
    },
    {
      path: '/folder:path(.*)', 
      component: folderView,
      props: function (route) {
        console.log('folder route.params.path', route.params.path)
        return {path: route.params.path}
      },
    },
    {
      path: '/file:path(.+)', 
      component: fileView,
      props: function (route) {
        console.log('file route.params.path', route.params.path)
        return {path: route.params.path}
      },
    },
  ],
})

app = new Vue({
  el: '#app',
  router: router,
  computed: {
    navList () {
      var p = '/folder'
      var ret = this.$route.params.path.slice(1).split('/').map(
        name => {
          p = p + '/' + name
          return {active: true, name: name, path: p}
        }
      )
      var current = ret[ret.length-1]
      current.active = false
      if (current.name.slice(-3) == '.md')
        current.name = current.name.slice(0, -3)
      return ret
    },
  },
})


</script>
</body>
</html>