
<!DOCTYPE html>
<html>
  <head>
    <title>Xiang Nan's Blog</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">
    <!-- <link href="https://cdn.bootcss.com/github-markdown-css/2.8.0/github-markdown.css" rel="stylesheet"> -->
    <style type="text/css">
      .title {
        font-size: 300%;
        background-color: #ccc;
        padding: .5em .2em;
      }
      .container {
        width: 980px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
  <div id="app" class="container">
    <router-view></router-view>
  </div>
<script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-router/2.6.0/vue-router.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
<script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>

<script type="text/javascript">
var [username, github, com] = window.location.host.split('.')
username = username || 'xiangnanscu'
var PREFIX = `https://api.github.com/repos/${username}/${username}.github.com/contents/`

var CACHE = {}

var d = `
<div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      文章
    </h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <tbody>
        <tr v-for="file in files">
          <td>
            <router-link :to="'/file/'+file.path" role="button">{{file.name}}</router-link>
          </td>
          <td>
            ok
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      类别
    </h3>
  </div>
  <div class="panel-body">
    <ul v-for="folder in folders" class="nav nav-pills nav-stacked">
      <li role="presentation">
        <router-link :to="'/folder/'+folder.path">{{folder.name}}</router-link>
      </li>
    </ul>
  </div>
</div>
</div>
`
var f = `
<div class="container">
  <h1 class="title">{{title}}</h1>
  <div class="markdown-body" v-html="content"></div>
</div>
`
var folderView = {
    template: d,
    props: {
        path: {type: String, default: ''},
    },
    data () {
      return {
        tree: [],
      }
    },
    updated () {
      console.log('folderView updated.')
    },
    mounted: function () {
      var url = PREFIX + this.path
      if (CACHE[url]) {
        console.log('read from cache')
        this.tree = CACHE[url]   
      } else {
        Vue.http.get(url).then(
          response => {
            CACHE[url] = response.body
            this.tree = response.body
          },
          response => {
            alert('Fail to get tree')
          }
        )
      }
    },
    computed: {
      files () {
        return this.tree.filter(e => e.type == 'file')
      },
      folders () {
        return this.tree.filter(e => e.type == 'dir')
      },   
    },
}

var fileView = {
    template: f,
    props: {
      path: {type: String, default: ''}
    },
    data: function () {
      return {
        content: '',
        title: '',
      }
    },
    mounted: function () {
      var url = PREFIX + this.path
      if (CACHE[url]) {
        console.log('read from cache')
        this.content = marked(atob(CACHE[url].content))
        this.title = CACHE[url].name        
      } else {
        Vue.http.get(url).then(
          response => {
            CACHE[url] = response.body
            this.content = marked(atob(response.body.content))
            this.title = response.body.name
          },
          response => {
            alert('Fail to get tree')
          }
        )
      }
    },
    computed: {

    },
}

var router = new VueRouter({
  linkActiveClass: "router-link-active",
  linkExactActiveClass: "router-link-exact-active",
  routes: [
    {
      path: '/', 
      component: folderView,
      props: {path: ''},
    },
    {
      path: '/folder/:path(.+)', 
      component: folderView,
      props: function (route) {
        console.log('folder route.params.path', route.params.path)
        return {path: route.params.path}
      },
    },
    {
      path: '/file/:path(.+)', 
      component: fileView,
      props: function (route) {
        console.log('file route.params.path', route.params.path)
        return {path: route.params.path}
      },
    },
  ],
})

app = new Vue({
  el: '#app',
  router: router,
})


</script>
</body>
</html>